.right-main{
    margin-right: 58px;
    max-width: 400px;
    height: 1140px;
    margin-top: 48px;
    background-color: white;
}
.left-main-grid{
    max-width:436px;
    height: 360px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    
}
.img-logo{
    max-width: 372px;
    height: 60px;
    margin: 0 auto;
    margin-top: 32px;
    align-items: center;
    justify-content:space-between;
}
.heart-logo i {
  font-size: 20px; 
  color: #006747;
}
.main-others{
    max-width:372px;
    height: 220px;
    margin: 0 auto;
    margin-top: 16px;
}
.copy-button{
    height: 40px;
    width: 372px;
}
.copy-btn-inside,call-btn-inside{
    width: 182px;
    height: 40px;
    margin-left: 7px;
}
.card-header-title{
    margin-top: 0px;
}
.call-btn-inside{
    margin-left: 8px;
}
.card-btn{
    padding: 10.5px 61.3px 10.5px 83.2px;
    border-radius: 8px;
    border: none;
    color: white;
}
.copy-btn{
   color: rgba(92, 92, 92, 1);
}