.hind-madurai-light {
  font-family: "Hind Madurai", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
html, body {
  overflow-x: hidden;
}


/* shared style hare  */
.display{
    display: flex;
}
.imageStich{
    width: 100%;
}
.border-black{
    border-radius: 10px;
}
.nav-right-bars{
    width: 123px;
}
.nav-right-bg{
    background-color:rgba(65, 255, 107, 0.1);
    border-radius:50px;
}
.card-call-btn{
     background-color: rgba(0, 166, 62, 1);
}

/* navbar style starts hare  */
.navbar-parent{
    max-width: 1920px;
    height: 100px;
    justify-content: space-between;
    margin: 0 auto;
}
.left-nav-div{
    max-width: 196px;
    max-height: 50px;
    margin-left: 60px;
    margin-top: 24px;
    align-items: center;
}
.left-nav-img{
    max-width: 50px;
    max-height: 50px;
}
.left-nav-title{
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: 800;
    color: rgba(0, 103, 71, 1);
}
.right-nav-div{
    width: 397px;
    max-height: 50px;
    margin-right: 60px;
    margin-top: 24px;
    justify-content: space-between;
}
.heart-img{
    max-width: 30px;
    max-height: 30px;
    margin-left: 8px;
}
.star-coin-img{
    max-width: 24px;
    max-height: 24px;
    margin-left: 8px;
}
.right-nav-heart-div,.right-nav-coin-div,.right-nav-copy-button{
    align-items: center;
    justify-content: center;
}
.copy-button{
    max-width: 270px;
}
.right-nav-copy-button{
    width: 127px;
    background-color: #00A63E;
    border-radius: 50px;
    border: none;
    color: white;
}

/* banner section starts hare */

.my-gradient {
  background: linear-gradient(
    to right,
    #013223 0%,
    #006747 50%,
    #013223 100%
  );
}
.banner-div{
    max-width: 1920px;
    height: 240px;
    justify-content: center;
    margin: 0 auto;
}
.banner-logo-div{
    max-width: 92px;
    margin: 0 auto;
}
.banner-logo{
    max-width: 92px;
    margin-top: 21px;
}
.banner-title{
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0px;
}
.banner-contant{
    color: white;
    margin-top:10px;
    text-align: center;
}

/* main card section style starts hare */
.bg-color{
    background-color:rgba(65, 255, 107, 0.1);
    max-width: 1900px;
    max-height:1200px;
    margin: 0 auto;
}
.card-logo{
    max-width: 55px;
    border-radius: 8px;
    background-color: rgba(255, 227, 226, 1);
}
.main{
    max-width: 1800px;
    height: 1140px;
    margin: 0 auto;
    margin-bottom: 150px;
    gap: 30px;

}
.left-main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    max-width: 1370px;
    height: 1140px;
    margin-top: 48px;
    margin-left:30px;
}
.left-main-grid{
    width:340px;
    height: 340px;
    padding-top: 28px;
    background-color: white;
    border-radius: 12px;
    box-shadow:  2px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow:  0px 0px 5px rgba(0, 0, 0, 0.3);
}
.fix-size{
    font-size: 1rem;
    margin-bottom: 0px;
}
.fix-size2{
    margin: 0;
}
.card-header-title{
    margin-top:10px;
    font-size:1.5rem;
    font-weight: 700;
}
.card-header-2{
    font-size: 2rem;
    color: rgba(17, 17, 17, 1);
    margin: 0px;
}
.card-paragra{
    font-size: 1.12rem;
    color: rgba(92, 92, 92, 1);
    margin-top: 2px;
}
.card-small-title{
    color: rgba(92, 92, 92, 1);
    font-size: 1.12rem;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color:rgba(242, 242, 242, 1);
    border-radius: 50px;
    display: inline-block;
    padding: 5px 10px;
}
.copy-button2{
    height: 50px;
    max-width:300px;
    justify-content: space-between;
    align-items: center;
}
.card-btn{
    padding: 10.5px 50px 10.5px 50px;
    border-radius:8px;
    border: none;
    color: white;
}
.copy-btn{
   color: rgba(92, 92, 92, 1);
   margin-right: 8px;
   border: 2px  solid rgb(201, 197, 197);
   background-color: white;
   
} 
.img-logo,.main-others{
    max-width: 300px;
    height: 60px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.heart-logo i{
    font-size: 2rem;
    color: #006747;
}
.heart-logo{
    margin-right: 30px;
}
#rainway-title{
    font-size: 1.43rem;
}
/* right side style starts hare  */

.right-main{
     margin-top: 48px;
     background-color: white;
     box-shadow:  2px 2px 2px rgba(0, 0, 0, 0.3);
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
     border-radius: 10px;
     height: 1150px;
}
.call-history{
    width: 300px;
    height: 52px;
    justify-content: space-between;
    margin: 0 auto;  
    margin: 0 8px; 
    margin-top: 24px;
    margin-left:20px; 
    align-items: center;
}
.history-call{
    font-size: 1.2rem;
    font-weight:600;
}
.history-btn{
    padding: 14px 36px;
    border-radius:50px;
    border: none;
    background-color: #00A63E;
    color: white;
}
/* history-items styles added hare  */
.history-items{
  width: 90%;
  max-width: 400px;
  background-color:rgba(250, 250, 250, 1); 
  padding: 4px 15px;
  margin: 8px 0;
  border-radius: 10px; 
  display: flex;
  justify-content: space-between; 
  align-items: center;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.08); 
  box-shadow: 2px 2px 2px rgba(0,0,0,0.08); 
}
.history-items-divs p{
    font-size: 1.125rem;
    font-weight:600;
    margin: 0px 0px;
}
.history-items-divs h4{
    color: rgba(92, 92, 92, 1);
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 0px 0px;
}
.history-items-divs h3{
    color:rgba(17, 17, 17, 1);
    font-size: 1.1rem;
    font-weight: 400;
}



/* responsive for smart phone */
@media only screen and (max-width:430px) {

    .navbar-parent{
        flex-direction: column;
        width: 100%;
        height: 130px;
        margin-top: 20px;
    }
    .left-nav-div{
        margin: 0 auto;
    }
    .right-nav-div{
        margin-right: 10px;
        width: calc(100% - 33px);
    }
    .banner-div{
        width: 100%;
        height: 320px;
        margin-top: 10px;
    }
    .main{
       width:100%;
       margin: 0px;
       height: 4800px;
       flex-direction: column;
    }
    .right-main{
        height: 800px;
        width: calc(100% - 40px);
        margin: 0 auto;
    }
    .left-main{
        grid-template-columns: repeat(1, 1fr);
        height: 3900px;
        width: calc(100% - 40px);
        margin: 0 auto;
        margin-top: 20px;
        margin-left:calc(100% - 380px);
    }
    .call-history{
        width: calc(100% - 60px);
        margin-bottom: 20px;
    }
    .history-btn{
        margin-right: 20px;
    }
    .bg-color{
        width: 100%;
        background-color: rgba(0, 0, 0,0);
    }
}