.hind-madurai-light {
  font-family: "Hind Madurai", sans-serif;
}
/* shared style hare  */
.display{
    display: flex;
}
.imageStich{
    width: 100%;
}
.border-black{
    border-radius: 10px;
}
.nav-right-bars{
    width: 123px;
}
.nav-right-bg{
    background-color:rgba(65, 255, 107, 0.1);
    border-radius:50px;
}
.card-call-btn{
     background-color: rgba(0, 166, 62, 1);
}

/* navbar style starts hare  */
.navbar-parent{
    max-width: 1920px;
    height: 100px;
    justify-content: space-between;
    margin: 0 auto;
}
.left-nav-div{
    max-width: 196px;
    max-height: 50px;
    margin-left: 60px;
    margin-top: 24px;
    align-items: center;
}
.left-nav-img{
    max-width: 50px;
    max-height: 50px;
}
.left-nav-title{
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: 800;
    color: rgba(0, 103, 71, 1);
}
.right-nav-div{
    width: 397px;
    max-height: 50px;
    margin-right: 60px;
    margin-top: 24px;
    justify-content: space-between;
}
.heart-img{
    max-width: 30px;
    max-height: 30px;
}
.star-coin-img{
    max-width: 24px;
    max-height: 24px;
}
.right-nav-heart-div,.right-nav-coin-div,.right-nav-copy-button{
    align-items: center;
    justify-content: center;
}
.copy-button{
    max-width: 270px;
}
.right-nav-copy-button{
    width: 127px;
    background-color: #00A63E;
    border-radius: 50px;
    border: none;
    color: white;
}

/* banner section starts hare */

.my-gradient {
  background: linear-gradient(
    to right,
    #013223 0%,
    #006747 50%,
    #013223 100%
  );
}
.banner-div{
    max-width: 1920px;
    height: 240px;
    justify-content: center;
    margin: 0 auto;
}
.banner-logo-div{
    max-width: 92px;
    margin: 0 auto;
}
.banner-logo{
    max-width: 92px;
    margin-top: 21px;
}
.banner-contant{
    color: white;
    margin-top: 77px;
    text-align: center;
}

/* main card section style starts hare */
.bg-color{
    background-color:rgba(65, 255, 107, 0.1);
}
.card-logo{
    max-width: 55px;
    border-radius: 8px;
    background-color: rgba(255, 227, 226, 1);
}
.main{
    max-width: 1800px;
    height: 1140px;
    margin: 0 auto;
    margin-bottom: 150px;
    gap: 30px;

}
.left-main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    max-width: 1370px;
    height: 1140px;
    margin-top: 48px;
    margin-left:30px;
}
.left-main-grid{
    width:340px;
    height: 340px;
    padding-top: 28px;
    background-color: white;
    border-radius: 12px;
    box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.3);
}
.fix-size{
    font-size: 1rem;
    margin-bottom: 0px;
}
.fix-size2{
    margin: 0;
}
.copy-button2{
    height: 40px;
    max-width:276px;
}
.copy-btn-inside,call-btn-inside{
    width: 122px;
    height: 40px;
}
.card-header-title{
    margin-top:10px;
    font-size:1.5rem;
    font-weight: 700;
}
.card-header-2{
    font-size: 2rem;
    color: rgba(17, 17, 17, 1);
}
.card-paragra{
    font-size: 1.12rem;
    color: rgba(92, 92, 92, 1);
    margin-top: 2px;
}
.card-small-title{
    color: rgba(92, 92, 92, 1);
    font-size: 1.12rem;
}
.call-btn-inside{
    margin-left:8px;
}
.card-btn{
    padding: 10.5px 40px 10.5px 60px;
    border-radius: 8px;
    border: none;
    color: white;
}
.card-call-btn{
    margin-left:25px;
}
.copy-btn{
   color: rgba(92, 92, 92, 1);
   margin-right: 8px;
   border: rgba(255, 255, 255, 1);
}
.img-logo,.main-others{
    max-width: 300px;
    height: 60px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.heart-logo i{
    font-size: 1.5rem;
    color: #006747;
}
.heart-logo{
    margin-right: 30px;
}

/* right side style starts hare  */

.right-main{
    margin-top: 48px;
     background-color: white;
}
.call-history{
    width: 300px;
    height: 52px;
    justify-content: space-between;
    margin: 0 auto;  
    margin: 0 8px; 
    margin-top: 24px; 
}
.history-call{
    font-size: 1.2rem;
    font-weight:600;
}
.history-btn{
    padding: 14px 36px;
    border-radius:50px;
    border: none;
    background-color: #00A63E;
    color: white;
}